{% extends "base.html" %}
{% block content %}

<h1 class="text-center heading pt-5">Explore Cities</h1>
<hr>

<div class="py-4">
    {% for country, cities in countries.items() %}

    <section class="text-center subheading pt-lg-3 ">
        <h2 class="secheading">{{ country }}</h2>
        {% for city in cities %}
        <a class="btn btn-default btn-lg" href="{{ url_for('search_cafe') }}?city_name={{ city }}">{{ city }}</a>
        {% endfor %}
    </section>
    {% endfor %}
</div>
{% endblock %}
