{% extends "base.html" %}
{% block content %}

<h1 class="text-center heading pt-5">Explore Cities</h1>
<hr>

<!-- Flash Messages Section -->
<div class="container py-3">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% endwith %}
</div>
  

<div class="py-4">
    {% for country, cities in countries.items() %}

    <section class="text-center subheading pt-lg-3 ">
        <h2 class="secheading">{{ country }}</h2>
        {% for city in cities %}
        <a class="btn btn-default btn-lg" href="{{ url_for('search_cafe') }}?city_name={{ city }}">{{ city }}</a>
        {% endfor %}
    </section>
    {% endfor %}
</div>
{% endblock %}
